<h1>AFFEKTIVE SOFTWARE</h1>

<br><br><hr>

<div class='table-width-desktop'>
  <div class='row' align='center'>
    <div class='col-md-6'>
      <h3> CONTACT </h3>
      <br>
      <P>
        <strong class='header-color'>AFFEKTIVE SOFTWARE LLC<br>
        LAKEWOOD, CO</strong><br>
        <%= link_to '303-921-8628', 'tel:303-921-8628' %><br>
        <%= mail_to 'team@affektive.com' %>
      </P>

      <P>
        <strong class='header-color'>JOSH DUFFY</strong><br>
        <%= link_to '303-921-8628', 'tel:303-921-8628' %><br>
        <%= mail_to 'josh@affektive.com' %>
      </P>

      <P>
        <strong class='header-color'>MICHAEL PIERCE</strong><br>
        <%= link_to '720-387-9691', 'tel:720-387-9691' %><br>
        <%= mail_to 'michael@affektive.com' %>
      </P>

      <P>
        <strong class='header-color'>KELTON MANZANARES</strong><br>
        <%= link_to '303-919-5134', 'tel:303-919-5134' %><br>
        <%= mail_to 'kelton@affektive.com' %>
      </P>
    </div>


    <div class='col-md-6'>
      <h3> GENERAL ENQUIRIES </h3>
      <br>

      <center>

      <div align='center' style='width: 80%;'>
        <%= bootstrap_form_for(@contact) do |f| %>
          <div class='pull-left'>
          <p> NAME </p>
          </div>
          <div class='pull-right'>
          <p class='header-color'> Required </p>
          </div>
          <%= f.text_field :name, hide_label: :true %>
          <div class='pull-left'>
          <p> EMAIL </p>
          </div>
          <div class='pull-right'>
          <p class='header-color'> Required </p>
          </div>
          <%= f.text_field :email, hide_label: :true %>
          <div class='pull-left'>
          <p> MESSAGE </p>
          </div>
          <div class='pull-right'>
          <p class='header-color'> Required </p>
          </div>
          <%= f.text_field :message, hide_label: :true %>

          <br>
          <hr style='width: 100%'>

          <%= f.primary 'Submit', style:'width: 100%;' %>

        <% end %>
      </div>

      </center>

    </div>
  </div>
</div>



