<div id='fullpage'>
  <section class='intro' class='section'>
    <div class='content'>
      <h1 class='hidden-xs' id='header-text-position'>Affektive Software</h1>
      <h4 class='visible-xs' id='header-text-position'>Affektive<br>Software</h4>
      <h1>
        <span class='rotate hidden-xs' style='color: #1DE9B6;'>
          Strategy, Design, Development, Marketing
        </span>
      </h1>
   </div>
  </section>
  <section class='services' class='section'>
    <div class='content'>
      <center>
        <h2>Strategy</h2>
        <h4>
          Software Strategy<br>
          Marketing Strategy<br>
          Technology Strategy
        </h4>
        <h2>Design</h2>
        <h4>
          UI/UX Design<br>
          Brand Design<br>
          Website Design
        </h4>
        <h2>Development</h2>
        <h4>
          Wed Development<br>
          Mobile Web Development<br>
          Ghost/Wordpress Development
        </h4>
        <h2>Marketing</h2>
        <h4>
          Content Marketing<br>
          Email/SMS Marketing<br>
          Social Network Markeing
        </h4>
      </center>
    </div>
  </section>
  <section class='intro' class='section'>
    <div class='content'>
      <div class='table-width-desktop'>
        <div class='row' align='center'>
          <div class='col-md-2'></div>
          <div class='col-md-3'>
            <h3 style='color:white;'>CONTACT</h3>
            <br>
            <P>
              <strong style='color: #1DE9B6;'>JOSH DUFFY</strong><br>
              <%= link_to '303-921-8628', 'tel:303-921-8628', style:'color:#C3CAD9;' %>
            </P>
            <P>
              <strong style='color: #1DE9B6;'>MICHAEL PIERCE</strong><br>
              <%= link_to '720-387-9691', 'tel:720-387-9691', style:'color:#C3CAD9;' %>
            </P>
          </div>
          <div class='visible-xs'>
            <br><br><hr style='width: 100%'><br>
          </div>
          <div class='col-md-5'>
            <h3 style='color:white;'> GENERAL INQUIRIES </h3>
            <br>
            <div align='right' style='width: 100%;'>
              <%= bootstrap_form_tag(url: '/index', method: 'post') do |f| %>
                <div class='pull-left'>
                  <p>NAME</p>
                </div>
                <div class='pull-right'>
                  <p class='header-color'> Required </p>
                </div>
                <%= f.text_field :name, hide_label: :true %>
                <div class='pull-left'>
                  <p>EMAIL</p>
                </div>
                <div class='pull-right'>
                  <p class='header-color'> Required </p>
                </div>
                <%= f.text_field :email, hide_label: :true %>
                <div class='pull-left'>
                  <p>MESSAGE</p>
                </div>
                <div class='pull-right'>
                  <p class='header-color'> Required </p>
                </div>
                <%= f.text_area :message, size:'20x5', hide_label: :true %>
                <%= f.primary 'Submit', style:'width: 100%;' %>
              <% end %>
            </div>
            <div class='col-md-2'></div>
          </div>
        </div>
      </div>
   </div>
  </section>
</div>

<!-- Scripts -->
<script>
  $(document).ready(function() {
      $('#fullpage').fullpage();
  });
</script>
<script>
  $(".rotate").textrotator({
  animation: "dissolve", // You can pick the way it animates when rotating through words. Options are dissolve (default), fade, flip, flipUp, flipCube, flipCubeUp and spin.
  separator: ",", // If you don't want commas to be the separator, you can define a new separator (|, &, * etc.) by yourself using this field.
  speed: 3500 // How many milliseconds until the next word show.
});
</script>
